/*  PAGINA CALISTENIA  */


#main-calistenia {
    width: 100%;
    background-image: linear-gradient(90deg, $dark, #767676);
    color: $light;

    .img-main-calistenia {

        img {
            width: 100%;
            height: 430px;
            object-fit: cover;
        }
    }

    h1 {
        max-width: 900px;
        margin: 20px auto;
        font-size: 3.5rem;
        color: $danger;
        text-shadow: 3px 1px 3px black;
        text-align: center;
        text-transform: uppercase;
    }

    .primer-div {
        text-align: right;
        display: grid;
        width: 100%;
        grid-template-columns: 55% 45%;
        grid-template-areas:
            "primer-div-texto primer-div-img"
            "primer-div-texto primer-div-iframe"
        ;
        grid-template-rows: 1fr 1fr;
        border-bottom: solid 2px $primary;
        padding-bottom: 20px;

        .primer-div-texto {
            grid-area: primer-div-texto;

            h2 {
                text-align: left;
                margin: 20px;
                text-transform: uppercase;
            }

            p {
                text-align: left;
                margin: 0 0 20px 30px;
            }
        }

        .primer-div-img {
            grid-area: primer-div-img;
            width: 80%;
            margin: auto;
            padding-top: 60px;
            padding-bottom: 20px;
        }

        .primer-div-iframe {
            grid-area: primer-div-iframe;
            width: 90%;
            margin: auto;
        }
    }

    .segundo-div {
        text-align: left;
        display: grid;
        width: 100%;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto;
        border-bottom: solid 2px $primary;
        padding-bottom: 20px;

        h2 {
            text-align: right;
            margin: 20px;
            text-transform: uppercase;
        }

        p {
            text-align: right;
            margin: 0 30px 20px 0;
        }

        img {
            width: 90%;
            margin: auto;
        }
    }

    .tercer-div {
        text-align: right;
        display: grid;
        width: 100%;
        grid-template-columns: 55% 45%;
        grid-template-areas:
            "tercer-div-texto tercer-div-iframeUno"
            "tercer-div-texto tercer-div-iframeDos"
        ;
        grid-template-rows: 1fr 1fr;

        .tercer-div-texto {
            grid-area: tercer-div-texto;

            p {
                text-align: left;
                margin: 0 0 20px 30px;

                a {
                    color: $light;
                }
            }

            h2 {
                text-align: left;
                margin: 20px;
                text-transform: uppercase;
            }
        }

        .tercer-div-iframeUno {
            grid-area: tercer-div-iframeUno;
        }

        .tercer-div-iframeDos {
            grid-area: tercer-div-iframeDos;
        }

        iframe {
            width: 90%;
            height: 350px;
            margin: auto;
        }
    }
}

@media (max-width: 900px) {

    #main-calistenia {
        h1 {
            font-size: 2.5rem;
            margin: 20px 5px;
        }
        .primer-div {
            display: flex !important;
            flex-direction: column;
    
            .primer-div-texto {
                p {
                    margin: 20px;
                }
            }
    
            .primer-div-img {
                padding: 0;
                margin: 10px auto;
            }
        }
    
        .segundo-div {
            display: flex !important;
            flex-direction: column-reverse;
    
            h2 {
                text-align: left;
            }
    
            p {
                text-align: left;
                margin: 20px;
            }
        }
    
        .tercer-div {
            display: flex !important;
            flex-direction: column;
    
            p {
                margin: 20px;
            }
    
            iframe {
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 500px) {
    #main-calistenia {
        .img-main-calistenia {
            img {
                width: 100%;
                height: initial;
                object-fit: cover;
            }
        }
    }
}