/* PAGINA CONTACTO */

#contacto-body {
    background-image: linear-gradient(90deg, $dark, #767676);
    color: $light;

    .h1-contacto {
        text-align: center;
        font-size: 40px;
        margin: 20px 0 40px 0;
    }

    .form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
        text-align: center;

        .label {
            display: block;
            text-align: left;

            .input-contacto,
            .textarea {
                width: 100%;
                margin: 10px 0 0 0;
                background: transparent;
                border: none;
                border-bottom: #313131 solid 1px;
                color: #cacaca;
                background-image: linear-gradient(to top, #95959586, 30%, transparent);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 100% 0%;
                transition: background-size 0.2s;
                
                &:hover {
                    background-size: 100% 100%;
                }
            }

            .input-contacto:focus {
                height: 30px;
                background-image: inherit;
            }

            .textarea:focus {
                background-image: inherit;
            }
        }

        .boton-enviar {
            width: 150px;
            height: 40px;
            font-size: 20px;
            border: solid 2px #323232;
            border-radius: 7px;
            background-size: 200% 100%;
            background-image: linear-gradient(to right, #f1f2eb, #767676);
            cursor: pointer;
            transition: background-position 0.3s ease;

            &:hover {
                background-color: #afaeae;
                background-position: -100% 0;
            }
        }
    }

    .redes-sociales {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        font-size: 30px;
        justify-content: center;
        flex-wrap: wrap;

        i {
            width: 100px;
            height: 45px;
            transition: transform 0.2s;
            text-align: center;
            color: #f1f2eb;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

@media (max-width: 440px) {
    .redes-sociales {
        i {
            width: 75px;
        }
    }
}