/*  INICIO  */
html {
    scroll-behavior: smooth;

    body {
        width: 100%;
        font-family: 'Alata', sans-serif;

        .navbar {
            position: sticky;
            top: 0;
            z-index: 100;

            .p-logo {
                font-family: 'Big Shoulders Stencil Text', cursive;
                color: $danger;
                font-size: 35px;
                margin: 0;
            }

            .navbar-toggler {
                background-color: $danger;
            }

            .collapse {
                justify-content: space-evenly;
            }

            .text-light {
                color: $light !important;
            }

            .active {
                background-color: #515151;
                border-radius: 3px;
                color: #fff !important;
            }

            .nav-link:hover {
                color: #ffffff !important;
                background-color: #3a3a3a;
                border-radius: 3px;
            }
        }

        #main-index {
            background-image: linear-gradient(90deg, $dark, #767676);

            h1 {
                font-size: 37px;
                text-align: center;
                margin: 35px 10px 10px;
                color: $light;
            }

            h2 {
                text-align: center;
                margin: 10px;
                color: $light;
            }

            .carousel-item {
                max-height: 580px;
                .carousel-caption {
                    background-color: #181818b3;
                    padding: 10px;
                    h4 {
                        text-transform: uppercase;
                    }
                } 
            }

            .tarjetas-container {
                display: flex;
                width: 100%;
                height: auto;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;

                .tarjeta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    transform: skew(-22deg);
                    background-color: $light;
                    width: 258px;
                    height: 278px;
                    margin: 35px 0;
                    border-radius: 20px 0 20px 0;
                    box-shadow: 5px 4px 8px 0px #2a2323;
                    overflow: hidden;
                    transition: all .2s;
                    &:hover {
                        transform: scale(1.1) skew(-22deg);
                    }

                    .fa-solid {
                        font-size: 60px;
                        color: #000;
                        transform: skew(22deg);
                        position: absolute;
                        z-index: 10;
                        margin: 84px -37px;
                    }

                    .tarjeta-img {
                        width: 100%;
                        height: 70%;
                        img {
                            transform: skew(22deg);
                            object-fit: cover;
                            position: absolute;
                            height: 80%;
                            top: 0;
                            left: -50px;
                            opacity: 70%;
                        }
                    }

                    .tarjeta-p {
                        width: 100%;
                        height: 20%;

                        p {
                            width: 90%;
                            height: auto;
                            text-align: center;
                            transform: skew(22deg);
                            color: $dark;
                        }
                    }
                }

                .tarjeta-contacto {
                    .tarjeta-img {
                        .img-tarjeta-contacto {
                            transform: skew(22deg);
                            object-fit: cover;
                            position: absolute;
                            height: 84%;
                            top: -12px;
                            left: -51px;
                            opacity: 70%;
                        }
                    }
                }
            }
        }

        .footer {
            color: #929292;
            background-color: $dark;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;

            p {
                padding: 5px;
                margin: 0;
            }

            .pre-footer {
                width: 100%;
                background-color: #3a3a3a;
                color: #fff;
                text-align: center;

                a {
                    padding: 10px;
                    text-decoration: none;
                    color: #fff;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    cursor: pointer;
                }
            }
        }
    }
}    
@media (max-width: 458px) {
    .navbar .container-fluid {
                justify-content: space-between;
    }

    .navbar-brand .p-logo {
        display: none;
    }
}

@media (max-width: 330px) {
    .navbar-brand {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .interactive-main {
        .tarjetas-container {
            .tarjeta {
                margin: 10px 0 !important;
            }
            .tarjeta-info {
                margin: 20px 0 10px !important;
            }
        }
    }
}