/* TIENDA */

/* Navbar secundario */
.categorias {
    width: 100%;
    height: auto;
    background-color: #131313;
    position: sticky;
    top: 105px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    .subNav {
        width: 100%;
        margin: 5px 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li {
            margin: auto;
            font-family: 'Montserrat', sans-serif;
            .fa-solid {
                font-size: 18px;
                color: #f1f2eb;
            }
            a {
                text-decoration: none;
                color: $light;
                padding: 0.375rem 0.75rem;
                &:hover {
                    color: #f1f2eb;
                    border: 1px solid #565e64;
                }
            }
            .btn-secondary {
                --bs-btn-color: #f1f2eb;
                --bs-btn-bg: #131313;
                --bs-btn-border-color: #131313;
                --bs-btn-hover-bg: #131313;
                --bs-btn-active-bg: #131313;
            }
            .dropdown-menu {
                --bs-dropdown-bg: #131313;
                --bs-dropdown-border-radius: none;
                --bs-dropdown-link-hover-bg: none;
                border-color: #131313;
            }
        }
    }
}


/* Main */

.main-tienda {
    background: linear-gradient(90deg, $dark, #767676);
    .indumentaria {
        .hombres {
            .banner-hombres {
                img {
                    width: 100%;
                }
            }
        }
        .mujeres {
            .banner-mujeres {
                img {
                    width: 100%;
                }
            }
        }
        .accesorios {
            .banner-accesorios {
                img {
                    width: 100%;
                }
            }
        }
        h3 {
            margin-top: 30px;
            margin-left: 50px;
            text-decoration: underline;
            color: $light;
        }
    }
    .div-remeras {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .div-pantalones {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .div-buzos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        margin: 20px 15px;
        box-shadow: 2px 2px 6px 0px #272727;
        text-transform: uppercase;
        .card-body {
            padding: 10px;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
               @extend .btn-wrnng; 
            }
            .card-text {
                color: #4b4b4b;
            }
        }
    }
    .accesorios {
        #accesorios img {
        margin: 20px 0;
        }
        .div-accesorios {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            .card {
                margin: 20px 30px;
            }
        }
    }
    #elementos img {
        margin: 20px 0;
        width: 100%;
    }
    .div-elementos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .div-suplementos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
            align-items: center;
            img {
                height: 238px;
                width: 87%;
            }
        }
        .card:nth-child(2) img {
            padding-top: 20px;
        }

    }
    #suplementos img {
        margin: 20px 0;
        width: 100%; 
    }
    .envios {
        text-align: center;
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 30px 0;
            align-items: center;
            i {
                font-size: 30px;
                margin: 0 10px;
            }
            input {
                margin: 0 10px;
                border-radius: 7px;
                padding: 6px 12px;
            }
            button {
                padding: 8px 6px;
                border-radius: 5px;
                background-color: #fd350d;
                color: #fff;
                border: 2px solid #3a3a3a;
            }
        }
        h3 {
            font-size: 60px;
            color: $danger;
            text-shadow: 3px 1px 3px black;
        }
    } 
}